@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);

  --color-brand-blue: #19232A;

  --color-background: var(--background);
  --color-foreground: var(--foreground); 
  
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  
  --color-border: var(--border); /* fix the 'border-border' error */
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

:root {
  /* Constant Baby Blue for the Body */
  --background: oklch(0.25 0.02 240); 
  --foreground: oklch(0.96 0.02 240);
  
  /* MainBlue for UI elements */
  --primary: oklch(0.65 0.18 240); 
  --primary-foreground: oklch(0.98 0 0);

  /* Ensure Popovers/Tooltips are dark so they are visible on baby blue */
  --popover: oklch(89.35% 0.04087 241.484);
  --popover-foreground: oklch(0.98 0 0);

  --radius: 0.75rem;
}

.dark {
  --background: oklch(0.15 0.02 240);
  --foreground: oklch(0.94 0.02 240);
  
  /* Cards can be white or a slightly different shade of blue */
  --card: oklch(0.98 0.01 240);
  --card-foreground: oklch(0.15 0.02 240);
  
  --border: oklch(0.8 0.04 240);
  
}

@layer base {
  * {
    
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}